header {
  height: 100%;
  padding-top: 2rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
  padding-bottom: 20px;
}

@keyframes slash {
  0% {
    transform: translateX(-150%) skewX(-20deg);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translateX(150%) skewX(-20deg);
    opacity: 0;
  }
}

.futuristic-btn {
  position: relative;
  overflow: hidden;
  padding: 0.75rem 2rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  border: 2px solid #fcee09;
  background: transparent;
  clip-path: polygon(11% 0%, 99% 0%, 89% 100%, 1% 100%);
  transition: 0.3s ease;
  font-family: 'Orbitron', sans-serif;
  z-index: 0;
}

.futuristic-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  background: linear-gradient(120deg,
      transparent 0%,
      rgb(255, 250, 152) 100%,
      transparent 100%);
  z-index: 1;
  transform: translateX(-100%) skewX(-20deg);
  pointer-events: none;
}

.futuristic-btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  background: linear-gradient(120deg,
      transparent 0%,
      #fff 50%,
      transparent 100%);
  z-index: 2;
  transform: translateX(-100%) skewX(-20deg);
  opacity: 0;
  pointer-events: none;
}

.futuristic-btn:hover::before {
  animation: slash 1.5s forwards;
}

.futuristic-btn:hover::after {
  animation: flash 1.5s forwards;
}

@keyframes flash {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.futuristic-btn.filled {
  background: #fcee09;
  color: #000;
}

.futuristic-btn.outline:hover {
  background: #fcee09;
  color: #000;
  box-shadow: 0 0 10px #fcee09, 0 0 20px #fcee09;
}

.futuristic-btn.filled:hover {
  box-shadow: 0 0 10px #fcee09, 0 0 20px #fcee09;
}

.futuristic-btn:hover {
  transform: scale(1.05);
}

.cta {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  margin-top: 2.5rem;
}

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 5rem;
  bottom: 1rem;
}

.header__socials::after {
  content: '';
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

.scroll__down {
  position: absolute;
  right: 5rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

@media screen and (max-width: 1024px) {
  header {
    padding-top: 3rem;
  }

  section {
    margin-top: 6rem;
  }
}

@media screen and (max-width: 600px) {

  .header__socials,
  .scroll__down {
    display: none;
  }
}